body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: whitesmoke;
  text-shadow: 2px 2px 8px black;
  border-radius: 15px;
  background-image: url(https://1.bp.blogspot.com/-EAFM7V4xxJ8/Xu5C0ia4dJI/AAAAAAAAUwQ/iyJWTXDoPjQmXS3rkeNJ61YIeCoZBw6ZgCK4BGAsYHg/w1600/rick-and-morty-black-wallpaper.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(81, 93, 200);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}


header {
  background: linear-gradient(rgb(120, 7, 225), rgba(255, 0, 255, 0.977));
  margin: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px;
  justify-content: center;
}

#dinamic {
  -webkit-animation: random 2s infinite;
  animation: random 2s infinite;
}

@keyframes random {

  20% {
    background-color: rgba(224, 10, 192, 0.324);
  }

  50% {
    background-color: rgba(255, 213, 0, 0.32);
  }


}

.titulo {
  margin: auto 0%;
  padding: 0px;
}

.logo {
  width: 450px;
  height: 180px;
  background: none;
}

.pin {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: lightblue;
  margin: 25px;
  box-shadow: 2px 2px 80px white;
}

.banner {
  width: 300px;
  height: 190px;
  border: whitesmoke 8px solid;
  background-color: black;
  margin: 26px;
  margin-top: 10px;
  box-shadow: 2px 2px 20px black;
}

.menu {
  background: linear-gradient(fuchsia 20%, rgba(255, 0, 255, 0.578) 80%);
  border-radius: 0px 0px 15px 15px;
  box-shadow: 1px 1px 40px fuchsia;
  padding: 0px;
  margin: 0px;
  padding-bottom: 130px;
  padding-top: 100px;
  
}

ul {
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto 0px;
  
}

ul {
  width: 100%;
  margin: auto 0px;
  padding-top: 80px;
  padding-bottom: 80px;


}

.menu li a {
  font-family: 'Press Start 2P', cursive;
  justify-content: space-between;
  text-decoration: none;
  background-color: white;
  padding: 10px;
  color: fuchsia;
  border-radius: 10px;
  text-shadow: none;
  font-size: large;
  text-shadow: 1px 1px 1px black;
  border: solid black 1px;

}


.nav-bar a:hover {
  color: fuchsia;
  text-shadow: 1px 1px 1px black;
  background-color: gold;
  box-shadow: 1px 1px 30px gold;
  text-shadow: 1px 1px 5px black;
}

body h2 {
  color: gold;
  text-shadow: 1px 1px 3px black;
  text-align: center;
  font-size: 40px;
  margin-top: 90px;
  font-family: 'Bebas Neue', cursive;
  ;
}

body h2:hover {
  text-shadow: 1px 1px 70px white;
  color: fuchsia;
}

.ver-serie h2 {
  font-family: 'Press Start 2P', cursive;

}



.text {
  font-family: 'Bebas Neue', cursive;
  text-align: justify;
  margin: auto 4%;
  padding: auto 10px;
  font-size: 30px;

}

.banner-contain {
  margin: auto 0px;
  padding: 50px;
  text-shadow: 1px 1px 2px black;
  align-items: center;
  text-align: center;
  color: gold;
  border-radius: 30px;

}

.banner-contain:hover {
  box-shadow: 1px 1px 100px fuchsia;
  background-color: rgba(255, 0, 247, 0.443);
}

.boton-volver img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: rotate(-90deg);
  position: fixed;
  bottom: 110px;
  right: 70px;
}

.boton-volver img:hover {
  box-shadow: 1px 1px 28px fuchsia;
  border: fuchsia 4px solid;
}

@media only screen and (max-width: 680px) {
  .boton-volver {

    padding: 12px 20px;
    bottom: 110px;
    right: 60px;
  }
}

.container-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.grid-item {
  text-transform: capitalize;
  width: 160px;
  height: 300px;
  background-color: rgba(255, 0, 255, 0.295);
  padding: 10px;
  padding-bottom: 20px;
  margin: 15px;
  border: solid whitesmoke 10px;
  border-radius: 15px;
  font-family: 'Bebas Neue', cursive;
  font-size: medium;
  text-shadow: black 1px 1px 3px;
  color: rgb(251, 222, 59);
  box-shadow: 1px 1px 6px black;
}

.grid-item h2 {
  font-size: 20px;
  padding: 0px;
  margin: 3px;
}

.grid-item:hover {
  box-shadow: fuchsia 2px 2px 111px;
  background-color: white;
  color: rgb(136, 0, 255);
  text-shadow: black 1px 1px 3px;
  border: solid fuchsia 10px;
}

.grid-item img {
  width: 150px;
  height: 150px;
  box-shadow: 1px 1px 10px black;
  border-radius: 5px;
}

.hbo {
  width: 250px;
  border-radius: 26px;
  border: solid 3px blueviolet;
  box-shadow: 1px 1px 90px fuchsia;
}

.hbo:hover {
  width: 250px;
  border: solid 3px gold;
  box-shadow: 2px 2px 80px gold;
}

.ver-serie {
  font-family: 'Press Start 2P', cursive;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto 15%;
  text-shadow: 2px 2px 30px gold;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 60px;
  padding-top: 10px;
  background-color: rgba(255, 217, 0, 0.144);
}

footer {
  display: flex;
  background: linear-gradient(rgba(255, 0, 255, 0.475), blueviolet);
  margin: auto 0px;
  margin-top: 10%;
  text-shadow: black 2px 2px 3px;
  box-shadow: 1px 1px 100px fuchsia;
  color: gold;
  text-shadow: 1px 1px 3px black;
  padding-left: 100px;
  font-family: 'Press Start 2P', cursive;
  font-size: small;
  padding-top: 10%;
  padding-bottom: 6%;
}

.info {
  padding: 0px;
  text-align: center;

}

.contacto {
  padding: 0px;
  text-align: center;
  margin-left: 30%;

}

.logos {
  width: 30px;
  border-radius: 50%;
  margin: 10px;
  border: solid 3px white;
  box-shadow: 2px 2px 30px gold;
}

.logos:hover {
  box-shadow: 2px 2px 30px white;
  border: solid 3px gold;
}

.ver-serie p {
  font-size: 20px;
  color: gold;
  text-shadow: 1px 1px 3px black;
}

@media only screen and (max-width: 575px) {


  header {
    display: block;
    margin: 0px;
    padding-bottom: 20%;
    justify-content: center;
    padding: 0px;
  }

  .pin {
    margin: auto 56px;
    width: 200px;
    height: 200px;
  }

  .logo {
    margin: auto 6px;
    width: 300px;
    height: 100px;
  }

  ul {
    align-items: center;
    margin: auto 0px;
    padding: 0px;
    padding-top: 60px;

  }

  .nav ul {
    justify-content: center;
    text-align: center;
    display: block;
    margin: 0px;
    padding: 0px;

  }

  li {
    margin: auto 0;
    margin-bottom: 30px;
  }

  .sinopsis-text {
    display: block;
  }

  .banner {
    margin: auto 10px;
    width: 200px;
    height: 140px;
  }

  .ver-serie {
    margin: auto 10px;
    margin-bottom: 10%;
  }

  .ver-serie h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: x-large;
  }

  .contacto {
    margin: 0px;
    padding: 0px;
  }

  .info {
    margin: 0px;
    padding-top: 10%;
  }

  footer {
    display: block;
    margin: 0px;
    padding: 0px;
    font-size: x-small;
  }
}