* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  
  background-image: url(https://1.bp.blogspot.com/-EAFM7V4xxJ8/Xu5C0ia4dJI/AAAAAAAAUwQ/iyJWTXDoPjQmXS3rkeNJ61YIeCoZBw6ZgCK4BGAsYHg/w1600/rick-and-morty-black-wallpaper.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}


header {
  background-color: blueviolet;
  padding: 20px;
  display: flex;
  justify-content: center;
  border-radius: 15px 15px 0px 0px ;
}


.pin {
  width: 200px;
  height: 200px;
  padding: 0px;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 1px 1px 100px fuchsia;
}

.logo {
  padding: 15px;
  width: 600px;
}

.banner{
  width: 300px;
  border-radius: 20px;
}

.titulo {
  width: 75%;
}

nav {
  background-color: magenta;
  border-radius: 0px 0px 15px 15px;
  border: solid fuchsia 2px;
  box-shadow: 1px 1px 70px fuchsia;
  margin-bottom: 15%;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav ul li {
  list-style: none;
  padding: 1px;
  margin: 10px;
  border-radius: 5px;
}
nav ul li a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  text-decoration: none;
  color: wheat;
  padding: 15px;
}
footer {
  color: aliceblue;
  border: solid rgba(172, 255, 47, 0.4) 2px;
  border-radius: 10px;
}
.pequeña {
  width: 150px;
  border-radius: 15px;
  border: solid, wheat;
}

.container-grid {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: solid rgba(255, 255, 255, 0.34) 2px;
  border-radius: 10px;
}
/*Estilos Items de grilla*/
.grid-item {
  background-color: rgba(240, 128, 128, 0.409);
  text-align: center;
  padding: 30px;
  width: 200px;
  border-radius: 10px;
  margin: 10px;
}

.grid-item img {
  width: 100px;
  border-radius: 50%;
}
section h2 {
  color: blanchedalmond;
}
